@import '~assets/stylus/variable.styl';
.intord {
    &_single {
        padding: 0 18px;
        font-size: 14px;
        color: $color3;
        line-height: 26px;
        &_cont {
            color: $color6;
            font-size: 13px;
        }
        p {
            margin-bottom: 18px;
        }
    }
}