@import '~assets/stylus/variable.styl';
.report {
    background-color: $bgMain;
    min-height: 100%;
    &_wrap {
        padding: 14px 16px;
        &_top {
            width: 100%;
            height: 114px;
            border-radius: 6px;
            background-color: $write;
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            .single {
                width: 50%;
                height: 67px;
                padding: 5px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                &:last-child {
                    line-1px($colorE, 100%);
                }
                &_big {
                    font-size: 32px;
                    color: $blue;
                    &.red {
                        color: #F93C34;
                    }
                    span:last-child {
                        font-size: 16px;
                    }
                }
                &_small {
                    font-size: 15px;
                    color: $color9;
                }
            }
        }
        &_info {
            width: 100%;
            border-radius: 6px;
            background-color: $write;
            margin-bottom: 10px;
            padding: 16px;
            h2 {
                font-size: 16px;
                color: $color3;
                padding: 2px 0 18px 0;
            }
            .single {
                height: 72px;
                width: 100%;
                border-radius: 6px;
                background-color: $bgMain;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 10px;
                li {
                    width: 33.3%;
                    p {
                        text-align: center;
                        font-size: 16px;
                        color: $color3;
                        &:last-child {
                            font-size: 13px;
                            color: $color9;
                            margin-top: 10px;
                        }
                    }
                }
            }
        }
        &_chat {
            width: 100%;
            border-radius: 6px;
            background-color: $write;
            margin-bottom: 10px;
            padding: 16px;
            h2 {
                font-size: 16px;
                color: $color3;
                padding: 2px 0 18px 0;
            }
            &_top {
                display: flex;
                .left {
                    width: 200px;
                }
                .right {
                    flex: 1;
                    padding: 10px 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    li {
                        display: flex;
                        align-items: center;
                        font-size: 15px;
                        .icon {
                            width: 15px;
                            height: 15px;
                            border-radius: 8px;
                            border: 4px solid #E066FF;
                            align-items: center;
                        }
                        .coin {
                            margin-left: 6px;
                        }
                        .defCoin {
                            margin-left: 6px;
                            font-size: 13px;
                        }
                        .ratio {
                            margin-left: 12px;
                        }
                    }
                }
            }
            &_list {
                margin-top: 20px;
                border-radius: 6px;
                background-color: $bgMain;
                padding: 10px 20px;
                font-size: 14px;
                color: $color3;
                li {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    height: 34px;
                }
            }
        }
    }
}