@import '~assets/stylus/variable.styl';
.fund {
    display: flex;
    flex-direction: column;
    height: 100%;
    &_wrap {
        width: 100%;
    }
    &_list {
        width: 100%;
        height: calc(100vh - 46px);
        &_single {
            height: 86px;
            padding: 0 16px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-1px($colorE, 100%);
            .left {
                &_title {
                    margin-bottom: 6px;
                    span {
                        &:first-child {
                            font-size: 16px;
                            color: $color3;
                            margin-right: 15px;
                        }
                        &:last-child {
                            font-size: 14px;
                        }
                    }
                }
                &_shops, &_time {
                    font-size: 12px;
                    color: $color9;
                }
                &_shops {
                    margin-bottom: 6px;
                }
            }
            .right {
                font-size: 20px;
                color: $color6;
            }
        }
    }
}