@import '~assets/stylus/variable';
.holdD {
    &_btn {
        padding: 16px;
        width: 300px;
        &_scroll {
            display: flex;
            justify-content: space-between;
            
            background-color: $bgMain;
        }
        button {
            margin-right: 8px;
            height: 22px;
            width: 60px;
            font-size: 12px;
            color: $write;
            border-radius: 13px;
            background: linear-gradient(left, #2db5ff, #2c71fc);
        }
    }
}