@import '~assets/stylus/variable.styl';
.pos {
    width: 100%;
    min-height: 800px;
    background-color: $KBg;
    &_top {
        height: 120px;
        width: 100%;
        background-color: $KSubBg;
        padding: 14px 0 0 0;
        &_t {
            padding: 0 16px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 12px;
            .left {
                font-size: 32px;
            }
            .right {
                height: 60px;
                font-size: 12px;
                color: #9ba0ac;
                li {
                    padding: 4px 0;
                }
            }
        }
        &_btn {
            position: relative;
            height: 34px;
            width: 100%;
            .btn_list {
                position: absolute;
                display: flex;
                justify-content: space-between;
                background-color: $KSubBg;
                align-items: center;
                padding: 0 16px;
                height: 34px;
                width: 100%;
                left: 0;
                top: 0;
                z-index: 1;
                button {
                    width: 44px;
                    height: 18px;
                    border-radius: 9px;
                    color: $KSize;
                    &.active {
                        color: $write;
                        background: linear-gradient(left, #2db5ff, #2c71fc);
                    }
                }
            }
            .child_list {
                padding: 0 16px;
                position: absolute;
                display: flex;
                align-items: center;
                width: 100%;
                height: 100%;
                left: 0;
                top: 108%;
                background-color: $KSubBg;
                // transform: translateY(-100%);
                button {
                    width: 44px;
                    height: 18px;
                    border-radius: 9px;
                    color: $KSize;
                    margin-right: 6px;
                    &.active {
                        color: $write;
                    }
                }
            }
            .moreIndex-leave-active, .moreIndex-enter-active {
                transition: all 0.4s linear;
            }
            .moreIndex-enter, .moreIndex-leave-to {
                transform: translateY(-100%);
                opacity: 0;
            }
        }
    }
    .selectWrap {
        background-color: $KSub1Bg;
        color: $write;
        padding: 0 18px;
        h2 {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: center;
            height: 46px;
        }
        .selectList {
            display: flex;
            flex-wrap: wrap;
            padding-top: 12px;
            padding-bottom: 20px;
            li {
                width: 102px;
                height: 44px;
                text-align: center;
                border: 1px solid $KBg;
                border-radius: 4px;
                margin-right: 16px;
                margin-bottom: 16px;
                padding: 6px;
                &:nth-child(3n) {
                    margin-right: 0;
                }
                &.active {
                    background: linear-gradient(left, #2DB5FF, #2C68FC);
                }
                .coin {
                    font-size: 15px;
                    margin-bottom: 2px;
                }
                .price {
                    font-size: 13px;
                    color: rgba(255, 255, 255, 0.8);
                }
            }
        }
        .selectBtn {
            width: 100%;
            height: 44px;
            border: 1px solid $Kborder;
            border-radius: 22px;
            font-size: 16px;
            color: $ablue;
        }
        .closeBtn {
            width: 100%;
            height: 48px;
            font-size: 14px;
            color: $KSize;
            text-decoration: underline;
        }
    }
    .k_line {
        height: 397px;
        width: 100%;
        padding-top: 12px;
    }
    .pos_wrap {
        .tabs {
            position: relative;
            width: 100%;
            height: 50px;
            background-color: $KSubBg;
            &_wrap {
                display: flex;
                justify-content: space-between;
                li {
                    width: 50%;
                    height: 50px;
                    p {
                        width: 100%;
                        height: 50px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 16px;
                        color: $KSize;
                    }
                    &.active {
                        p {
                            color: $blue;
                        }
                    }
                }
            }
            &_line {
                transition-duration: 0.3s;
                position: absolute;
                width: 50%;
                height: 2px;
                background: linear-gradient(#2db5ff, #2c68fc);
                left: 0;
                bottom: 0;
            }
        }
        .cont {
            padding-bottom: 70px;
        }
    }
    .handWrap {
        background-color: $KSubBg;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        left: 0;
        bottom: 0;
        height: 62px;
        padding: 0 16px;
        button {
            width: 164px;
            height: 38px;
            border-radius: 4px;
            background-color: $redBtn;
            color: $write;
            font-size: 16px;
            &:last-child {
                background-color: $green;
            }
        }
    }
}