@import '~assets/stylus/variable.styl';
* {
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-overflow-scrolling: touch;
}
a, a:active, a:focus, a:hover, a:visited {
    text-decoration: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}
a, img {
    -webkit-touch-callout: none;
    vertical-align: top;
}
ol, ul {
    list-style: none;
}
// input[type='button'], input[type='submit'], input[type='search'], input[type='reset'] {
// -webkit-appearance: none;
// }
// textarea {
// -webkit-appearance: none;
// }
html {
    width: 100%;
    height: 100%;
}
body {
    font-family: 'PingFang SC', -apple-system, BlinkMacSystemFont, 'Hiragino Sans GB', 'Microsoft Yahei', sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: none;
    font-size: 12px;
    line-height: 1;
    padding-bottom: env(safe-area-inset-bottom) !important;
    position: fixed;
    height: 100%;
    width: 100%;
    color: #333;
    .container {
        width: 100%;
        padding-left: 16px;
        padding-right: 16px;
    }
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}
button {
    border: none;
    background-color: transparent;
    line-height: normal;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
button, a, input[button] {
    cursor: pointer;
}
@supports (bottom: env(safe-area-inset-bottom)) {
    body {
        padding-bottom: env(safe-area-inset-bottom);
    }
}
/* custom */
li {
    list-style: none;
}
.f-l {
    float: left;
}
.f-r {
    float: right;
}
.clear-f:after {
    content: '\0020';
    display: block;
    height: 0;
    clear: both;
}
.clear-f {
    zoom: 1;
}
.color-white {
    color: #ffffff;
}
.color-red {
    color: #f92a21;
}
.color-red1 {
    color: #FE5951;
}
.color-green {
    color: #1dbc8c;
}
.color-blue {
    color: #00a7e0;
}
.color9 {
    color: #999;
}
.color3 {
    color: #333;
}
// 隐藏谷歌验证码
.grecaptcha-badge {
    display: none;
}
.slide-right-enter-active, .slide-right-leave-active, .slide-left-enter-active, .slide-left-leave-active {
    will-change: transform;
    transition: all 500ms;
    position: absolute;
}
.slide-right-enter {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
}
.slide-right-leave-active {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
}
.slide-left-enter {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
}
.slide-left-leave-active {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
    .border-1px {
        &::after {
            -webkit-transform: scaleY(0.7);
            -moz-transform: scaleY(0.7);
            -ms-transform: scaleY(0.7);
            -o-transform: scaleY(0.7);
            transform: scaleY(0.7);
        }
    }
    .line-1px {
        &::after {
            -webkit-transform: scaleX(0.7);
            -moz-transform: scaleX(0.7);
            -ms-transform: scaleX(0.7);
            -o-transform: scaleX(0.7);
            transform: scaleX(0.7);
        }
    }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
    .border-1px {
        &::after {
            -webkit-transform: scaleY(0.5);
            -moz-transform: scaleY(0.5);
            -ms-transform: scaleY(0.5);
            -o-transform: scaleY(0.5);
            transform: scaleY(0.5);
        }
    }
    .line-1px {
        &::after {
            -webkit-transform: scaleX(0.5);
            -moz-transform: scaleX(0.5);
            -ms-transform: scaleX(0.5);
            -o-transform: scaleX(0.5);
            transform: scaleX(0.5);
        }
    }
}
