@import './mixin.styl';
// 颜色定义规范
$bgMain = #F7F7F7;
$write = #FFFFFF;
$blue = #00A7E0;
$red = #F92A21;
$green = #1DBC8C;
$red1 = #FE5951;
$color3 = #333;
$color6 = #666;
$color9 = #999;
$color12 = #CECECE;
$colorE = #EEEEEE;
