@import './mixin.styl';
// 颜色定义规范
$bgMain = #F7F7F7;
$write = #FFFFFF;
$blue = #00A7E0;
$ablue = #2d9ef5;
$red = #F92A21;
$green = #1DBC8C;
$red1 = #FE5951;
$redBtn = #F66464;
$color3 = #333;
$color6 = #666;
$color9 = #999;
$color12 = #CECECE;
$colorE = #EEEEEE;
// K线页面
$KBg = #1B212D;
$KSubBg = #191E28;
$KSub1Bg = #262F3F;
$KSize = #9BA0AC;
$Kborder = #2C85FD;
